*{
    margin: 0;
}
body, html {
    height: 100%;
    background-color: black;
}

/* The hero image */
.hero-image {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-small.png");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-image h1 {
    font-size: 15em;
}

.btn {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    border: none;
    background: none;
    padding: 1em 1.5em;
    text-transform: uppercase;
  }
  
  .btn::before {
    margin-left: auto;
  }
  
  .btn::after, .btn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffd700;
    display: block;
    transition: 0.5s;
  }
  
  .btn:hover::after, .btn:hover::before {
    width: 100%;
  }

  .pill-nav {
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .mini-menu{
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
  }

  /* The sidepanel menu */
.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

  .music{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-small.png");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 position: relative;
  }
  
  .musicHeader{
    text-align: center;
  }
  

  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 350px;
    perspective: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 25px;
  }
  
  .flip-card-inner {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card-front img {
    height: 350px;
    width: 100%;
  }
  
  .flip-card:hover .flip-card-inner {

    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {

    background-color: transparent;
    color: black;
  }
  
  .flip-card-back {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Hexagon.svg");
    background-color: #2980b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotateY(180deg);
  }



  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 3% 3%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex:30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
    padding: 1% 1% 1% 1%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .flip-card-back button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   .flip-card-back button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .flip-card-back button:hover span {
    color: black;
   }
   
   .flip-card-back button::before,
   .flip-card-back button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .flip-card-back button::before {
    content: "";
    background: grey;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .flip-card-back button:hover::before {
    transform: translate3d(100%, 0, 0);
   }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .footer img {
    height: 35px;
    width: 35px;
  }

  @media screen and (min-width: 600px) {
    .sidepanel{
      visibility: hidden;
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 45%;
      flex: 45%;
      max-width: 45%;
    }

    .flip-card-front img {
      height: 300px;
    }

    .flip-card {
      height: 300px;
    }

    .hero-image h1 {
      font-size: 11em;
  }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }

    .hero-image h1 {
      font-size: 8em;
  }

    .pill-nav {
      visibility: hidden;
    }

    .mini-menu{
      visibility: visible;
    }

    .sidepanel{
      visibility: visible;
    }
  }



    /* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .mainVideo{height: 200px;}
  .large-font{font-size: 15px;}
  .xlarge-font{font-size: 30px;}
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .large-font{font-size: 20px;}
  .xlarge-font{font-size: 40px;}
  .mainVideo{height: 500px;}
  .subImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.large-font{font-size: 25px;}
.xlarge-font{font-size: 64px;}
.mainVideo{height: 600px;}
.subImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 50%;
  height: 350px;
  width: 350px;
}
} */


